
.notification{

    display: block;
    position: absolute;
    bottom: 2%;
    right: 3%;
    background: #fff;
    border-radius: 3px;

    h6 {
        padding: 10px;
        margin: 0px;
        text-transform: capitalize;
        color: #087d0e;
    }

}