.drawer-container{
    width: 18%;
    height: 86vh;
    background-color: #F6F6F6;
    display: block;
    position: fixed;
    z-index: 50;
    top: calc(100vh - 90vh);
    border-radius: 4px;

    .search-container{
        width: 100%;
        height: 4vh;
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        .antd-search{
            width: 90%;
            height: 100%;
            margin: 5px 0px;
            outline: none;
            border: 0.5px solid #CACACA;
        }
    }

    .record-Container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        border-radius: 5px;
        margin: 5px 0px;
        .status-contaienr{
            font-size: small;
            width: max-content;
            padding: 10px 5px;
            height: 20px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            background-color: #D5D5D5;
        }
    }

}
.show{
    left: 13.5%;
    transition: all 0.2s ease-in;
}

.hide{
    left: -100%;
    transition: all 0.2s ease-out;
}

