.actions-container{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 15px;

    .icons-container {
        margin: 4px;

        button{
            background: transparent;
            border: none;
        }

        :hover{
            cursor: pointer;
        }
    }

}

