.text-container{
    border: 0.5px solid #85888A;
    border-radius: 5px;
    height: 2em;
}
.header{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    height: 40px;
    margin: auto;
    font-size: large;
    font-weight: 500;
}

.text-container:focus{
    outline: 1px solid #7A9D8F;
    border: none;
}

