.text-container{
    border: 0.5px solid #85888A;
    border-radius: 5px;
}
.header{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    height: 40px;
    margin: auto;
}

.text-container:focus{
    outline: 1px solid #10ADED;
}

